--find-links https://data.pyg.org/whl/torch-2.11.0+cu128.html
--find-links https://download.pytorch.org/whl/cu128
torch==2.11.0
numpy
ortools
plotly
einops
matplotlib
opencv-python
kaleido
torchinfo
torch_geometric
PyYAML
pydantic
cython
pyg_lib
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv

