--find-links https://data.pyg.org/whl/torch-2.5.1+cu124.html
torch==2.5.0
torchvision==0.20.0
torchaudio==2.5.0
numpy<2.0.0
gymnasium
ortools
visdom
networkx
plotly
einops
matplotlib
opencv-python
kaleido
pandas
torchinfo
torch_geometric
PyYAML
pydantic
cython
pyg_lib
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv

